// ----------------------------------------------------------------------------
// ATM
// ----------------------------------------------------------------------------
.atm-content{
   width:100%;
   opacity: 0;
}
.atm-content h3{
   text-align: left;
   width:1400px;
}

/* unvisited link */
.atm-content a:visited {
    color: #E0FFFF;
    text-decoration:none;
}

.atm-content a:link {
    color: #fff;
    text-decoration:underline;
}

.atm-table{
    border-collapse: separate;
    border-spacing: 2px 10px;
}

.atm-content td{
    text-align: left;
    margin-left: 10px;
}

.atm-content th{
    text-align:center;
    background-color: #6e6e6e;
}

.atm-content .center{
    text-align:center;
}

.priority-0{
    background: #228b22;
}
.priority-1{
    background: #9400D3;
}
.priority-2{
    background: #ff8c00;
}
.priority-3{
    background: #ff0000;
}
.priority-4{
    background: #dc143c;
}
.priority-ack{
    background: #0000ff;
}

